<div class="row">
    <div class="col-lg-12">
        <div class="widget">
            <div class="widget-title">
                <i class="fa fa-apple"></i> Error
            </div>
            <div class="widget-body large no-padding">
                <div class="message">
                    <div class="alert alert-danger">{{ lastErrorMessage }}</div>
                    <div class="alert alert-warning">Make sure you add the credentials of your search service to your configuration. The keys <strong>Azure.Search.ServiceName</strong> and <strong>Azure.Search.ApiKey</strong> should be added to the AppSettings in your Web.config or to the Configuration tab of your Azure Web Site.</div>
                </div>
            </div>
        </div>
    </div>
</div>