<div class="row">
    <form role="form">
        <div class="form-group">
            <label>Type</label>
            <select ng-model="func.type" class="form-control" ng-options="f.name as f.name for f in functionTypes"></select>
        </div>
        <div class="form-group">
            <label>Boost</label>
            <input type="text" class="form-control" ng-model="func.boost">
            <p class="help-block">Positive number used as multiplier for raw score != 1.</p>
        </div>
        <div class="form-group">
            <label>Field Name</label>
            <select ng-model="func.fieldName" class="form-control" ng-options="f.name as f.name for f in index.fields"></select>
        </div>
        <div class="form-group">
            <label>Interpolation</label>
            <select ng-model="func.interpolation" class="form-control" ng-options="f.name as f.name for f in interpolationTypes"></select>
        </div>
        <div class="form-group" ng-show="func.type == 'magnitude'">
            <label>Boosting Range Start</label>
            <input type="text" class="form-control" ng-model="func.magnitude.boostingRangeStart">
        </div>
        <div class="form-group" ng-show="func.type == 'magnitude'">
            <label>Boosting Range End</label>
            <input type="text" class="form-control" ng-model="func.magnitude.boostingRangeEnd">
        </div>
        <div class="form-group" ng-show="func.type == 'magnitude'">
            <label>Constant Boost Beyond Range</label>
            <input type="text" class="form-control" ng-model="func.magnitude.constantBoostBeyondRange">
        </div>
        <div class="form-group" ng-show="func.type == 'freshness'">
            <label>Boosting Duration</label>
            <input type="text" class="form-control" ng-model="func.freshness.boostingDuration">
            <p class="help-block">Value representing timespan leading to now over which boosting occurs. Format: '00:00:00.'</p>
        </div>
        <div class="form-group" ng-show="func.type == 'distance'">
            <label>Reference Point Parameter</label>
            <input type="text" class="form-control" ng-model="func.distance.referencePointParameter">
            <p class="help-block">Parameter to be passed in queries to use as reference location.</p>
        </div>
        <div class="form-group" ng-show="func.type == 'distance'">
            <label>Boosting Distance</label>
            <input type="text" class="form-control" ng-model="func.distance.boostingDistance">
            <p class="help-block">The distance in kilometers from the reference location where the boosting range ends.</p>
        </div>
    </form>
</div>