<div class="row" ng-if="error">
    <div class="col-xs-12">
        <pre class="alert alert-danger">{{ error | json }}</pre>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="widget">
            <div class="widget-title">
                <i class="fa fa-users"></i> Search
            </div>
            <div class="widget-body xlarge">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Query</label>
                            <input type="text" class="form-control" ng-model="searchQuery.query">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Search Fields</label>
                            <input type="text" class="form-control" ng-model="searchQuery.searchFields">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Mode</label>
                            <select ng-model="searchQuery.mode" class="form-control" ng-options="mode.name as mode.name for mode in modes"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Select</label>
                            <input type="text" class="form-control" ng-model="searchQuery.select">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Order By</label>
                            <input type="text" class="form-control" ng-model="searchQuery.orderBy">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Facet</label>
                            <input type="text" class="form-control" ng-model="searchQuery.facet">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Highlight</label>
                            <input type="text" class="form-control" ng-model="searchQuery.highlight">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Scoring Profile</label>
                            <input type="text" class="form-control" ng-model="searchQuery.scoringProfile">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Scoring Parameter</label>
                            <input type="text" class="form-control" ng-model="searchQuery.scoringParameter">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>Filter</label>
                            <input type="text" class="form-control" ng-model="searchQuery.filter">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <input type="submit" value="Search" class="btn btn-primary pull-left" ng-click="search()">
                        <div class="checkbox pull-left" style="margin-left: 10px">
                            <label>
                                <input type="checkbox" ng-model="searchQuery.count"> Include count
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-if="loading || results != null">
    <div class="col-lg-2" ng-show="facets">
        <div class="widget">
            <div class="widget-title">
                <i class="fa fa-users"></i> Facets
            </div>
            <div class="widget-body xlarge no-padding">
                <pre>{{ facets | json }}</pre>
            </div>
        </div>
    </div>
    <div ng-class="{ 'col-lg-10': facets != null, 'col-lg-12': facets == null }">
        <div class="widget">
            <div class="widget-title">
                <i class="fa fa-users"></i> Results <span>({{ count }} results)</span>
            </div>
            <div class="widget-body xlarge no-padding">
                <div class="message" ng-if="!loading && (results == null || results.length == 0)">
                    <div class="alert alert-warning">The query did not return any results.</div>
                </div>
                <div class="table-responsive" ng-if="!loading && results != null && results.length > 0">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th ng-repeat="field in fields">
                                    {{ field }}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="result in results">
                                <td ng-repeat="field in fields">
                                    {{ result[field] }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <loading ng-if="loading"></loading>
            </div>
        </div>
    </div>
</div>